@import "tailwindcss";

:root {
  background-color: darkslategray;
  color: white;
  padding: 1rem;
}

@layer components {
  code {
    @apply whitespace-pre-wrap break-words bg-black text-[var(--cambridge-blue-color)] p-5 rounded-lg text-base leading-relaxed overflow-x-auto shadow max-w-[90%] m-1 block;
  }
}
